.settings{
  margin: 34px 0;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between
}
.length{
  width: 20px
}

@media screen and (max-width: 600px) {
  .settings{
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }
}