.mainPassword{
  width: 100%;
  position: relative;
  height: 50vh;
  padding-top: 50px;
  display: flex;
  justify-content: flex-end;
  color: white;
}
.mainPassword::after{
  z-index: -1;
  content: '';
  width: 100vw;
  height: 50vh;
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, -50%);
  background:  linear-gradient(266.18deg, #071D2B 27.86%, #153042 101.55%);
}
@media screen and (max-width: 600px) {
  .mainPassword{
    height: 75vh;
    justify-content: center;

  }
  .mainPassword::after{
    height: 75vh;
  }
}